* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    text-align: center;
}
header{
    background-color: #297dfe;
    width: 100%;
    padding: 50px;
}
header h2{
    color: white;
   font-size: 50px;
   padding-bottom: 30px;
}
header p{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.button{
  padding: 10px 25px;
  font-weight: bold;
  color: #2064cc;
  border: none;
  border-radius: 4px;
}
nav{
    background-color: #2064cc;
}
nav ul {
    padding: 20px;
    display: inline-flex;
    text-align: center;
    list-style: none;
}
nav ul a{
   text-decoration: none;
   color: white;
   padding-right: 20px;
   font-weight: bold;
   font-size: 15px;
}
.container2{
    width: 75%;
    margin: auto;
}
.about{
    padding-top: 40px;
    padding-bottom: 60px;
}
.about h2{
    text-align: center;
    padding-bottom: 10px;
}
.about img{
   width: 200px;
   height: 230px;
   padding-top: 10px;
   padding-bottom: 30px;
}

.skills h2{
     padding-bottom: 10px;
     text-align: center;
}
.skills ul{
    list-style: none;
    display: flex;
    padding-right: 10px;
}
.skills ul li{
    border: 2px solid gray;

}

.projects{
    padding-bottom: 80px;
}
.projects h2{
    text-align: center;
}
.flex2{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.flex2 div h3{
    padding-bottom: 20px;

}
.flex2 div{
    border: gray solid;
    border-radius: 10px;
    padding: 35px 35px;
    margin-right: 20px;
}
.contact{
   margin-bottom: 10px;
}
.contact h2{
    text-align: center;
}
form{
    padding: 20px;
    width: 600px;
    margin: 0 auto;
}

form input{
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 100%;
    padding-left: 10px;
}

form textarea{
   border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 20px;
}


form input:focus,form textarea:focus{
    outline: none;
}
form button{
    width: 100%;
    padding: 8px;
    background-color: #297dfe;
    border: none;
    border-radius: 4px;
    color: white;
}


footer{
    background-color: #297dfe;
    text-align: center;
    padding: 20px;
    color: white;
}
footer p{
    padding-bottom: 8px;
}
.apps{
    display: inline-flex;
    justify-items: center;
}
.apps p{
    padding-right: 10px;
}